<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <context-param>
        <param-name>UPLOAD_DIR</param-name>
        <param-value>images</param-value>
    </context-param>
    <filter>
        <filter-name>EncodingFilter</filter-name>
        <filter-class>filters.EncodingFilter</filter-class>
    </filter>
    <filter>
        <filter-name>AuthFilter</filter-name>
        <filter-class>filters.AuthFilter</filter-class>
    </filter>
    <filter>
        <filter-name>IdFilter</filter-name>
        <filter-class>filters.IdFilter</filter-class>
    </filter>
    <filter>
        <filter-name>ViewCounter</filter-name>1
        <filter-class>filters.ViewCounter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>IdFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthFilter</filter-name>
        <url-pattern>/admin</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ViewCounter</filter-name>
        <url-pattern>/resumes</url-pattern>
        <url-pattern>/jobs</url-pattern>
    </filter-mapping>
    <init-param>
        <param-name>compilerSourceVM</param-name>
        <param-value>1.8</param-value>
    </init-param>
    <init-param>
        <param-name>compilerTargetVM</param-name>
        <param-value>1.8</param-value>
    </init-param>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <jsp-config>
        <taglib>
            <taglib-uri>/WEB-INF/mytags</taglib-uri>
            <taglib-location>/WEB-INF/mytags.tld</taglib-location>
        </taglib>
        <taglib>
            <taglib-uri>/WEB-INF/myfuncs</taglib-uri>
            <taglib-location>/WEB-INF/myfuncs.tld</taglib-location>
        </taglib>
    </jsp-config>
</web-app>
